header {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px);
  color: white;
}

img {
  width: 200px;
  float: right;
}

.infoBox {
  border-width: 1px;
  border-style: dotted;
  margin: 30px;
  width: 300px;
}

.introduction {
  text-align: justify;
}

.title {
  float: left;
  margin: 10px;
  background-color: initial;
}
